@model DetailViewModel


<div class="col-sm-12 col-lg-12">
    <h2>
        @Model.Pie.Name
    </h2>
    <div class="img-thumbnail">
        <img class="img-fluid img-full" src="@Model.Pie.ImageThumbnailUrl"/>
        <div class="py-2">
            <h3 class="float-right">@Model.Pie.Price.ToString("c")</h3>
            <h3>
                @Model.Pie.Name
            </h3>
            <p>@Model.Pie.ShortDescription</p>
            <p>@Model.Pie.LongDescription</p>
        </div>
    </div>
</div>