@model Pie
<h2>
    @Model.Name
</h2>

<div class="col-sm-4 col-lg-4">
    <div class="img-thumbnail thumbnail-margin">
        <img class="img-fluid" src="@Model.ImageThumbnailUrl" />
        <div class="py-2">
            <h3 class="float-right">@Model.Price.ToString("c")</h3>
            <h3>
                @Model.Name
            </h3>
            <p>@Model.ShortDescription</p>
            <p>@Model.LongDescription</p>
        </div>
    </div>
</div>