@model HomeViewModel

@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4">
        <div class="img-thumbnail thumbnail-margin">
            <img class="img-fluid" src="@pie.ImageThumbnailUrl" />
            <div class="py-2">
                <h3 class="float-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a>
                </h3>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}